 .navbar{
    width: 60%;
     margin-left: 20%;
 }
 .btn_1{
    font-size: 10px;
    width: 70px;
    height: 30px;
    border: 0;
    background-color: #FFB00F;
    color: aliceblue;
    
 }
 .m{
    width: 60%;
    margin-top: 13%;

 }
 .pppp{
    font-size: 12px;
 }
 .dd{
    margin-top: -10%;
 }
 .qaz{
    width: 120px;
    height: 35px;
    font-size: 10px;
    background-color: #ffc905;
    color: aliceblue;
    border: 0;
 }
 .bbn{
    width: 60%;
    text-align: center;
    margin-top: 10%;
 }
 .ss{
    font-size: small;
    margin-top: 5px;
 }
 .sa{
    margin-top: 10px;
 }
 .cv{
    width: 60%;
    margin-top: 30px;

 }
 .wq{
    font-size: 12px;
 }
 .sdfg{
    background-color: #ffc905;
    color: aliceblue;
    font-size: small;
    width: 120px;
    height: 35px;
    border: 0;
 }
 .cx{
    width: 60%;
    margin-top: 10%;
 }
 .cccc{
    font-size: 10px;
 }
 .df{
    font-size: 12px;
    margin-top: 10px;
 }